-form_tag('void(0)',:id =>:edit_basket) do
  .central
    %h1 Basket
    %table#basket
      %tr
        %th Description
        %th.right Quantity
        %th.right Price
      -@basket_detail.items.each do |bi|
        -fields_for bi, :index => bi.variant.id do |itm|
          %tr
            %td=bi.product.name + " - " + bi.variant.description
            %td.right=itm.text_field :quantity, :size => 2
            %td.right=format_price(bi.variant.price)
      %tr
        %td
        %td.total#tq=@basket_detail.total_quantity
        %td.total#tp=format_price(@basket_detail.total_price)
    =observe_form :edit_basket, :url => {:controller => 'baskets', :action => 'edit_basket'}, :frequency => 0.25
                  
