h1
{
  text-align:center;
  margin:30px;
}

div#leftbar
{
  float:left;
  width:15%;
  height:100%;
}

div#menu
{

  margin-left:10px;
  margin-right:10px;
  margin-top:40px;
}

div#main
{
  float:right;
  width:84%;
  height:100%;
}

div#selectionbox
{
  margin:40px;
  text-align:center;
}
div
{
  border-width:1px;
  border-color:black;
  border-style:solid;
}
