*
{
  font-family:Georgia;
}
h1
{
  text-align:center;
  margin:20px;
}

h2
{
  text-align:center;
  margin:10px;
}

h3
{
  text-align:center;
  margin:5px;
}

div#leftbar
{
  float:left;
  width:15%;
}

div#menu
{

  margin-left:10px;
  margin-right:10px;
  margin-top:40px;
}

div#menu img
{
  margin:5px;
}

div#main
{
  float:right;
  width:84%;
  height:100%;
}

div#selectionbox
{
  margin:20px;
  text-align:center;
  position:relative;
}

div#selectionbox img
{
  margin:0px;
  padding:0px;
  border:0px;
}

div#selectionbox > div.SelectionImage
{
  z-index:2;
  width:240;
  height:160;
  float:left;
}

div#selectionbox > div.SelectionText
{
  width:200;
  height:120;
  z-index:1;
  padding:20px;
  float:left;
}

div#selectionbox > div.Cell1
{
  position:absolute;
  top:0px;
  left:0px;
}

div#selectionbox > div.Cell2
{
  position:absolute;
  top:0px;
  left:240px;
}

div#selectionbox > div.Cell3
{
  position:absolute;
  top:0px;
  left:480px;
}

div#selectionbox > div.Cell4
{
  position:absolute;
  top:160px;
  left:0px;
}

div#selectionbox > div.Cell5
{
  position:absolute;
  top:160px;
  left:240px;
}
div#selectionbox > div.Cell6
{
  position:absolute;
  top:160px;
  left:480px;
}

div.ProducerSection1, div.ProducerSection2
{
  float: none;
  clear: both;
}

div.ProducerSection1  img
{
  float: left;
  margin-right: 20px;
}

div.ProducerSection2  img
{
  float: right;
  margin-left: 20px;
}

div.ProducerSectiontext
{
  padding: 20px;
  text-align: center;
  vertical-align: middle;
}

.Flash
{
  color: green;
  text-align: center;
}

div.row
{
  width:100%;
  padding: 10px;
  clear: right;
}

div.left
{
  width:45%;
  vertical-align: middle;
  text-align: right;
  margin-right: 5%;
  float:left;
}

div.right
{
  width:50%;
  float:right;
}

div.section
{
  padding:10px;
  margin:10px;
  border-width: 2px;
  border-style: solid;
  border-color: grey;
}

div.spacer
{
  clear:both;
}

textarea.summary
{
  height: 5em;
}

textarea.text
{
  height:10em;
}
