/*Common Styles */
*
{
  font-family:Verdana, sans-serif, Georgia;
  color:#333;
  color:#b1917a
}

body
{
  margin: 0px
}

h1
{
  margin:5px;
}

h2
{
  text-align:center;
  margin:10px;
  font-size:1.7em;
  color:#667638;
  font-family:Georgia, Times;
  font-style: normal;
}

h3
{
  text-align:center;
  margin:5px;
}

p
{
  line-height:1.8em;
  font-size:0.88em;
}

div#top
{
  width:100%;
  height:120px;
  background-image: url("../images/header_grad.jpg");
  background-repeat: repeat-x;
}

div#top img
{
  float:left;
}

div#menu
{
  position: relative;
  float:right;
  height:100%;
  top:100px;
}

div#menu a
{
  color:black;
  letter-spacing: 0.1em;
  word-spacing: 0.5em;
}

div#menu ul
{
  display:inline;
}

div#menu li
{
  display:inline;
  border-right: 1px solid black;
  list-style: none;
  padding:1px 5px;
}

div#main
{
  width:100%;
  border-top-style: solid;
}

div#leftbar
{
  width:22%;
  float:left;
  padding:15px;
}

div.central
{
  margin:10px auto ;
  width:70%;
}

.Flash
{
  color: green;
  text-align: center;
}


/* Show Styles */
p.section1, p.section2
{
  width:80%;
  margin:auto;
  padding: 20px;
  clear: both;
}

p.section1 img
{
  float: left;
  margin-right: 20px;
}

p.section2 img
{
  float: right;
  margin-left: 20px;
}

div.login
{
  float:right;
}

div#leftcolumn
{
  width: 70%;
  float:left;
}

div#rightcolumn
{
  width:30%;
  float:right;
}
