
/* Index Styles */
div#selectionbox
{
  width:720px;
  height:320px;
  margin: 0 auto;
  position:relative;
}

div#selectionbox img
{
  margin:0px;
  padding:0px;
  border:0px;
}

div.SelectionImage
{
  z-index:2;
  width:240px;
  height:160px;
  float:left;
}

div.SelectionText
{
  width:200px;
  height:120px;
  z-index:1;
  padding:20px;
  float:left;
  text-align:center;
}

div#selectionbox > div.Cell1
{
  position:absolute;
  top:0px;
  left:0px;
}

div#selectionbox > div.Cell2
{
  position:absolute;
  top:0px;
  left:240px;
}

div#selectionbox > div.Cell3
{
  position:absolute;
  top:0px;
  left:480px;
}

div#selectionbox > div.Cell4
{
  position:absolute;
  top:160px;
  left:0px;
}

div#selectionbox > div.Cell5
{
  position:absolute;
  top:160px;
  left:240px;
}
div#selectionbox > div.Cell6
{
  position:absolute;
  top:160px;
  left:480px;
}

div#singlecolbox
{
  width:240px
  margin: 0 auto;
  position:relative;
}

div#singlecolbox > div.Cell1
{
  position:absolute;
  top:0px;
  left:0px;
}

div#singlecolbox > div.Cell2
{
  position:absolute;
  top:160px;
  left:0px;
}

div#singlecolbox > div.Cell3
{
  position:absolute;
  top:320px;
  left:0px;
}

div#singlecolbox > div.Cell4
{
  position:absolute;
  top:480px;
  left:0px;
}

div#singlecolbox > div.Cell5
{
  position:absolute;
  top:640px;
  left:0px;
}
div#singlecolbox > div.Cell6
{
  position:absolute;
  top:800px;
  left:0px;
}
div#singlecolbox > div.Cell7
{
  position:absolute;
  top:960px;
  left:0px;
}
div#singlecolbox > div.Cell8
{
  position:absolute;
  top:1120px;
  left:0px;
}
div#singlecolbox > div.Cell9
{
  position:absolute;
  top:1280px;
  left:0px;
}
div#singlecolbox > div.Cell10
{
  position:absolute;
  top:1440px;
  left:0px;
}
