.central
  %h1 Delivery
  =image_tag 'dogbike.jpg'
  %p
    We try to delivery to you on cargo bikes. Why? Well it keeps your foods carbon footprint teeny and we love bikes!
    We can deliver to you at various times during the week....
