.cerntral
  -form_for @delivery do |f|
    =error_messages_for :delivery
    %fieldset
      %legend Arrange a delivery
      %p
        %label When?
      %table
        -next_delivery_days(Time.now,10).each do |day| 
          %tr
            %td=day.strftime("%A %d %b")
            -(daily_delivery_slots).each do |t|
              -dt = Time.gm day.year, day.month, day.day, t
              %td=link_to "%02d:00" % t, set_delivery_url(dt.to_i.to_s)
    .submission= submit_tag 
