.cerntral
  -form_for @delivery do |f|
    =error_messages_for :delivery
    %fieldset
      %legend Arrange a delivery
      %p
        %label When?
      %p
        =f.datetime_select :when, :start_date => 2.days.from_now, :discard_minute => true, :start_hour => 7, :finish_hour => 9
      %table
        -next_delivery_days(Time.now,10).each do |day| 
          %tr
            %td=day.strftime("%A %d %b")
            -(7...23).each do |t|
              %td=t

    .submission= submit_tag 
