#leftbar
  At ForWhereItsGrown.com we ......
  %ul
    %li Meat
    %li Fish
    %li Cheese
    %li Fruit and Veg
    %li Bread
    %li Patiserrie
#selectionbox
  - @producers.each_with_index do |producer,i|
    %div{:class => "SelectionImage #{grid(i)}"}
      = link_to(image_tag(producer.image_path),producer_path(producer.id))
    %div{:class => "SelectionText #{grid(i)}"}
      %strong= producer.name
      %br
      =producer.summary
