
#selectionbox
  - @products.each_with_index do |product,i|
    %div{:class => "SelectionImage #{grid(i)}"}
      = link_to(image_tag(product.image_path), producer_product_url(@producer.id, product.id))
    %div{:class => "SelectionText #{grid(i)}"}
      %strong= product.name
      %br
      =product.description
