<html>
  <head>
    <title>Passion not profit....</title>
    <%= stylesheet_link_tag 'gfc' %>
    <%= javascript_include_tag "jquery", "browse" %>
  </head>
  <body>
    <%= yield :layout %>
  </body>
</html>
