!!!
%html
  %head
    %title Passion before profit....
    = stylesheet_link_tag :all
    = javascript_include_tag "jquery", "browse" 
  %body
    #top 
      =image_tag "gfclogo.jpg"
      #menu 
        %ul
          %li=login_label
          %li=link_to 'producers', producers_path 
          %li=link_to 'delivery', producers_path 
          %li=link_to 'recipes', producers_path 
          %li=link_to 'news', producers_path
    #main
      = yield :layout 
