!!!
%html
  %head
    %title Passion before profit....
    = stylesheet_link_tag 'gfc' 
    = javascript_include_tag "jquery", "browse" 
  %body
    #top= image_tag "gfclogo.jpg"
    #main
      = yield :layout 
