
<html>
  <head>
    <title>Passion and Profit!</title>
    <%= stylesheet_link_tag 'gfc' %>
  </head>
  <body>
    <h1><%= image_tag("fromwhereitsgrown.gif") %></h1>
    <div id="main">
      <p class="Flash"><%= flash[:notice] %></p>
      <%= yield :layout %>
    </div>
  </body>
</html>
